* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

button {
  background-color: #ff505f;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  transition: background-color 250ms ease;
}

button:hover {
  cursor: pointer;
  background-color: #ff7682;
}

.container {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(20, 8, 70, 0.6),
      rgba(6, 17, 75, 0.5)
    ),
    url(../assets/pexels-maxyne-barcel-10402282\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  padding-top: 40px;
}

.navbar > div {
  display: inline-block;
}

.logo {
  margin-left: 60px;
  width: 130px;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.list {
  margin-left: 210px;
  list-style-type: none;
}

.list-item {
  display: inline-block;
  margin-left: 45px;
  font-size: 22px;
  font-weight: 500;
  color: #ffc233;
}

.list-item:hover {
  cursor: pointer;
  opacity: 0.85;
}

.button-small {
  margin-left: 250px;
  padding: 8px 35px;
}

.hero {
  padding-top: 70px;
  text-align: center;
}

.hero-heading {
  font-family: "Dela Gothic One";
  font-size: 60px;
  color: #ffc233;
  letter-spacing: 1px;
  word-spacing: 10px;
}

.button-large {
  margin-top: 50px;
  padding: 15px 40px;
}

img[alt="bottom-logo"] {
  width: 120px;
  position: absolute;
  right: 100px;
  bottom: 50px;
}
